a.l-btn1{
	color:#444;
	font-size:12px;
	text-decoration:none;
	display:inline-block;
	zoom:1;
	padding-right:18px;
	cursor:pointer;
	outline:none;
}
a.l-btn-plain1{
	background:transparent;
	padding-right:5px;
	border:1px solid transparent;
	_border:0px solid #efefef;
	_padding:1px 6px 1px 1px;
}
a.l-btn1 span.l-btn-left1{
	display:inline-block;
	padding:0px 0px 0px 0px;
	line-height:16px;
	height:16px;
}
a.l-btn1 span span.l-btn-text1{
	display:inline-block;
	height:16px;
	line-height:16px;
	padding:0px;
	float:left;
}
.icon-BASESET{
	background:url('icons/BASESET_MIN.png') no-repeat;
}
.icon-PERSONSET{
	background:url('icons/PERSONSET_MIN.png') no-repeat;
}
.icon-TOOLS{
	background:url('icons/TOOLS_MIN.png') no-repeat;
}
.icon-PARTSARCHIVES{
	background:url('icons/PARTSARCHIVES_MIN.png') no-repeat;
}
.icon-CUSTOMARCHIVES{
	background:url('icons/CUSTOMARCHIVES_MIN.png') no-repeat;
}
.icon-SUPPLIERARCHIVES{
	background:url('icons/SUPPLIERARCHIVES_MIN.png') no-repeat;
}
.icon-CARARCHIVES{
	background:url('icons/CARARCHIVES_MIN.png') no-repeat;
}
.icon-SERVICINGMEAL{
	background:url('icons/SERVICINGMEAL_MIN.png') no-repeat;
}
.icon-CAIGOUDAN{
	background:url('icons/CAIGOUDAN_MIN.png') no-repeat;
}
.icon-MENUMANAGER{
	background:url('icons/MENUMANAGER_MIN.png') no-repeat;
}
.icon-AUTHORITYSET{
	background:url('icons/AUTHORITYSET_MIN.png') no-repeat;
}
.icon-SYSTEMSET{
	background:url('icons/SYSTEMSET_MIN.png') no-repeat;
}
.icon-INSYRANCEARCHIVES{
	background:url('icons/INSYRANCEARCHIVES_MIN.png') no-repeat;
}
.icon-COMPANYSET{
	background:url('icons/COMPANYSET_MIN.png') no-repeat;
}
.icon-PARTSONOROFF{
	background:url('icons/PARTSONOROFF_MIN.png') no-repeat;
}
.icon-RCPTBRANCH{
	background:url('icons/RCPTBRANCH_MIN.png') no-repeat;
}
.icon-CUSTOMONOROFF{
	background:url('icons/CUSTOMONOROFF_MIN.png') no-repeat;
}


.icon-CARBRAND{
	background:url('icons/CARBRAND_MIN.png') no-repeat;
}
.icon-UPDATEPASSWORD{
	background:url('icons/UPDATEPASSWORD_MIN.png') no-repeat;
}
.icon-DATASET{
	background:url('icons/DATASET_MIN.png') no-repeat;
}
.icon-CARMODEL{
	background:url('icons/CARMODEL_MIN.png') no-repeat;
}

.icon-CARINFO{
	background:url('icons/CARINFO_MIN.png') no-repeat;
}
.icon-CARKZ{
	background:url('icons/CARKZ_MIN.png') no-repeat;
}
.icon-CUSTOMINFO{
	background:url('icons/CUSTOMINFO_MIN.png') no-repeat;
}
.icon-SUPPLIER{
	background:url('icons/SUPPLIER_MIN.png') no-repeat;
}
.icon-PROVIDEBANK{
	background:url('icons/PROVIDEBANK_MIN.png') no-repeat;
}
.icon-DISTRIBUTOR{
	background:url('icons/DISTRIBUTOR_MIN.png') no-repeat;
}
.icon-INSURER{
	background:url('icons/INSURER_MIN.png') no-repeat;
}
.icon-SELLTARGET{
	background:url('icons/SELLTARGET_MIN.png') no-repeat;
}
.icon-BASESET1{
	background:url('icons/BASESET1_MIN.png') no-repeat;
}
.icon-BASESET1{
	background:url('icons/BASESET1_MIN.png') no-repeat;
}
.icon-BASESET2{
	background:url('icons/BASESET2_MIN.png') no-repeat;
}
.icon-BASESET3{
	background:url('icons/BASESET3_MIN.png') no-repeat;
}
.icon-BASESET4{
	background:url('icons/BASESET4_MIN.png') no-repeat;
}
.icon-BASESET5{
	background:url('icons/BASESET5_MIN.png') no-repeat;
}
.icon-BASESET6{
	background:url('icons/BASESET6_MIN.png') no-repeat;
}
.icon-BASESET7{
	background:url('icons/BASESET7_MIN.png') no-repeat;
}
.icon-BASESET8{
	background:url('icons/BASESET8_MIN.png') no-repeat;
}
.icon-BASESET9{
	background:url('icons/BASESET9_MIN.png') no-repeat;
}
.icon-BASESET10{
	background:url('icons/BASESET9_MIN.png') no-repeat;
}
.icon-BASESET11{
	background:url('icons/BASESET9_MIN.png') no-repeat;
}
.icon-BASESET12{
	background:url('icons/BASESET9_MIN.png') no-repeat;
}
.icon-BASESET13{
	background:url('icons/BASESET9_MIN.png') no-repeat;
}
.icon-BASESET14{
	background:url('icons/BASESET9_MIN.png') no-repeat;
}

.icon-STAGEMAN1{
	background:url('icons/STAGEMAN1_MIN.png') no-repeat;
}
.icon-STAGEMAN2{
	background:url('icons/STAGEMAN2_MIN.png') no-repeat;
}
.icon-STAGEMAN3{
	background:url('icons/STAGEMAN3_MIN.png') no-repeat;
}
.icon-STAGEMAN4{
	background:url('icons/STAGEMAN4_MIN.png') no-repeat;
}
.icon-STAGEMAN5{
	background:url('icons/STAGEMAN5_MIN.png') no-repeat;
}
.icon-STAGEMAN6{
	background:url('icons/STAGEMAN6_MIN.png') no-repeat;
}
.icon-STAGEMAN7{
	background:url('icons/STAGEMAN7_MIN.png') no-repeat;
}
.icon-STAGEMAN8{
	background:url('icons/STAGEMAN8_MIN.png') no-repeat;
}
.icon-STAGEMAN9{
	background:url('icons/STAGEMAN9_MIN.png') no-repeat;
}
.icon-STAGEMAN10{
	background:url('icons/STAGEMAN10_MIN.png') no-repeat;
}
.icon-STAGEMAN11{
	background:url('icons/STAGEMAN11_MIN.png') no-repeat;
}
.icon-STAGEMAN12{
	background:url('icons/STAGEMAN12_MIN.png') no-repeat;
}
.icon-STAGEMAN13{
	background:url('icons/STAGEMAN13_MIN.png') no-repeat;
}
.icon-STAGEMAN14{
	background:url('icons/STAGEMAN14_MIN.png') no-repeat;
}
.icon-STAGEMAN15{
	background:url('icons/STAGEMAN15_MIN.png') no-repeat;
}
.icon-STAGEMAN16{
	background:url('icons/STAGEMAN16_MIN.png') no-repeat;
}
.icon-STAGEMAN17{
	background:url('icons/STAGEMAN17_MIN.png') no-repeat;
}
.icon-STAGEMAN18{
	background:url('icons/STAGEMAN18_MIN.png') no-repeat;
}
.icon-STAGEMAN19{
	background:url('icons/STAGEMAN19_MIN.png') no-repeat;
}
.icon-STAGEMAN20{
	background:url('icons/STAGEMAN20_MIN.png') no-repeat;
}
.icon-STAGEMAN21{
	background:url('icons/STAGEMAN21_MIN.png') no-repeat;
}
.icon-STAGEMAN22{
	background:url('icons/STAGEMAN22_MIN.png') no-repeat;
}
.icon-STAGEMAN23{
	background:url('icons/STAGEMAN23_MIN.png') no-repeat;
}
.icon-STAGEMAN24{
	background:url('icons/STAGEMAN24_MIN.png') no-repeat;
}
.icon-STAGEMAN25{
	background:url('icons/STAGEMAN25_MIN.png') no-repeat;
}
.icon-STAGEMAN26{
	background:url('icons/STAGEMAN26_MIN.png') no-repeat;
}
.icon-STAGEMAN27{
	background:url('icons/STAGEMAN27_MIN.png') no-repeat;
}
.icon-STAGEMAN28{
	background:url('icons/STAGEMAN28_MIN.png') no-repeat;
}
.icon-STAGEMAN29{
	background:url('icons/STAGEMAN29_MIN.png') no-repeat;
}
.icon-STAGEMAN30{
	background:url('icons/STAGEMAN30_MIN.png') no-repeat;
}
.icon-STAGEMAN31{
	background:url('icons/STAGEMAN31_MIN.png') no-repeat;
}
.icon-STAGEMAN32{
	background:url('icons/STAGEMAN32_MIN.png') no-repeat;
}
.icon-STAGEMAN33{
	background:url('icons/STAGEMAN33_MIN.png') no-repeat;
}
.icon-STAGEMAN34{
	background:url('icons/STAGEMAN34_MIN.png') no-repeat;
}
.icon-STAGEMAN35{
	background:url('icons/STAGEMAN34_MIN.png') no-repeat;
}


.icon-COMBINEOPERATION1{
	background:url('icons/COMBINEOPERATION1_MIN.png') no-repeat;
}
.icon-COMBINEOPERATION2{
	background:url('icons/COMBINEOPERATION2_MIN.png') no-repeat;
}
.icon-COMBINEOPERATION3{
	background:url('icons/COMBINEOPERATION3_MIN.png') no-repeat;
}

.icon-icon-CARMODEL{
	background:url('icons/CARMODEL_MIN.png') no-repeat;
}
.icon-CARSTYLE{
	background:url('icons/CARSTYLE_MIN.png') no-repeat;
}
.icon-CARCOLOR{
	background:url('icons/CARCOLOR_MIN.png') no-repeat;
}
.icon-CARTYPE{
	background:url('icons/CARCOLOR_MIN.png') no-repeat;
}
.icon-CARSTATE{
	background:url('icons/CARSTATE_MIN.png') no-repeat;
}
.icon-CARPARTS{
	background:url('icons/CARPARTS_MIN.png') no-repeat;
}
.icon-PHONETRACKENRESULT{
	background:url('icons/PHONETRACKENRESULT_MIN.png') no-repeat;
}
.icon-CARLOSS{
	background:url('icons/CARLOSS_MIN.png') no-repeat;
}
.icon-OTHERSTORE{
	background:url('icons/OTHERSTORE_MIN.png') no-repeat;
}
.icon-ACTIVITIESDISCOUNT{
	background:url('icons/ACTIVITIESDISCOUNT_MIN.png') no-repeat;
}
.icon-ACTINITIESPROJECT{
	background:url('icons/ACTINITIESPROJECT_MIN.png') no-repeat;
}
.icon-INTEGRALPROJECT{
	background:url('icons/INTEGRALPROJECT_MIN.png') no-repeat;
}
.icon-GIVEPROJECT{
	background:url('icons/GIVEPROJECT_MIN.png') no-repeat;
}
.icon-MENBERGROUP{
	background:url('icons/MENBERGROUP_MIN.png') no-repeat;
}
.icon-MENBERLEVEL{
	background:url('icons/MENBERLEVEL_MIN.png') no-repeat;
}
.icon-MENBERREGULATION{
	background:url('icons/MENBERREGULATION_MIN.png') no-repeat;
}
.icon-DISCOUNTREGULATION{
	background:url('icons/DISCOUNTREGULATION_MIN.png') no-repeat;
}
.icon-INTEGRALREG{
	background:url('icons/INTEGRALREG_MIN.png') no-repeat;
}
.icon-MENBERSERVICE{
	background:url('icons/MENBERSERVICE_MIN.png') no-repeat;
}
.icon-VISITPROJECT{
	background:url('icons/VISITPROJECT_MIN.png') no-repeat;
}
.icon-PHRASE{
	background:url('icons/PHRASE_MIN.png') no-repeat;
}
.icon-ARAESET{
	background:url('icons/ARAESET_MIN.png') no-repeat;
}
.icon-CURNATURE{
	background:url('icons/CURNATURE_MIN.png') no-repeat;
}
.icon-CUSTYPE{
	background:url('icons/CUSTYPE_MIN.png') no-repeat;
}
.icon-CUSCLASSIFY{
	background:url('icons/CUSCLASSIFY_MIN.png') no-repeat;
}
.icon-CUSCOMPLAINCLASSIFY{
	background:url('icons/CUSCOMPLAINCLASSIFY_MIN.png') no-repeat;
}
.icon-COSTTYPE{
	background:url('icons/COSTTYPE_MIN.png') no-repeat;
}
.icon-PARTSBRAND{
	background:url('icons/PARTSBRAND_MIN.png') no-repeat;
}
.icon-PARTSTYPE{
	background:url('icons/PARTSTYPE_MIN.png') no-repeat;
}
.icon-PARTSPART{
	background:url('icons/PARTSPART_MIN.png') no-repeat;
}
.icon-PARTSAREA{
	background:url('icons/PARTSAREA_MIN.png') no-repeat;
}
.icon-PARTSUNIT{
	background:url('icons/PARTSUNIT_MIN.png') no-repeat;
}
.icon-INVITETENDERS{
	background:url('icons/INVITETENDERS_MIN.png') no-repeat;
}
.icon-TRAPEZOIDPRICERATIO{
	background:url('icons/TRAPEZOIDPRICERATIO_MIN.png') no-repeat;
}
.icon-PARTSPRICERATIO{
	background:url('icons/PARTSPRICERATIO_MIN.png') no-repeat;
}
.icon-PARTSSALESTYPE{
	background:url('icons/PARTSSALESTYPE_MIN.png') no-repeat;
}
.icon-STORETYPE{
	background:url('icons/STORETYPE_MIN.png') no-repeat;
}
.icon-SERVICINGTYPE{
	background:url('icons/SERVICINGTYPE_MIN.png') no-repeat;
}
.icon-SERVICINGLOCATION{
	background:url('icons/SERVICINGLOCATION_MIN.png') no-repeat;
}
.icon-WORKINGHOURS{
	background:url('icons/WORKINGHOURS_MIN.png') no-repeat;
}
.icon-PROJECTWORKHOURS{
	background:url('icons/PROJECTWORKHOURS_MIN.png') no-repeat;
}
.icon-CHARGSNATURE{
	background:url('icons/CHARGSNATURE_MIN.png') no-repeat;
}
.icon-CLAIMNATURE{
	background:url('icons/CLAIMNATURE_MIN.png') no-repeat;
}
.icon-INSURANCETYPE{
	background:url('icons/INSURANCETYPE_MIN.png') no-repeat;
}
.icon-DEPARTMENTSET{
	background:url('icons/DEPARTMENTSET_MIN.png') no-repeat;
}
.icon-JOBPROPERTY{
	background:url('icons/JOBPROPERTY_MIN.png') no-repeat;
}
.icon-DEPARTMENT{
	background:url('icons/DEPARTMENT_MIN.png') no-repeat;
}
.icon-PAYAWAY{
	background:url('icons/PAYAWAY_MIN.png') no-repeat;
}
.icon-CARCOMPANYPROPERTIES{
	background:url('icons/CARCOMPANYPROPERTIES_MIN.png') no-repeat;
}
.icon-DATAWORDBOOK{
	background:url('icons/DATAWORDBOOK_MIN.png') no-repeat;
}
.icon-INSTOREHOUSE{
	background:url('icons/INSTOREHOUSE_MIN.png') no-repeat;
}
.icon-RETREAT{
	background:url('icons/RETREAT_MIN.png') no-repeat;
}
.icon-INSTOREOUT{
	background:url('icons/INSTOREOUT_MIN.png') no-repeat;
}
.icon-INSTOREMOVE{
	background:url('icons/INSTOREMOVE_MIN.png') no-repeat;
}
.icon-SELLDBPRO{
	background:url('icons/SELLDBPRO_MIN.png') no-repeat;
}
.icon-BACK{
	background:url('icons/BACK_MIN.png') no-repeat;
}
.icon-SELLINVOICE{
	background:url('icons/SELLINVOICE_MIN.png') no-repeat;
}
.icon-SELLDECORATE{
	background:url('icons/SELLDECORATE_MIN.png') no-repeat;
}
.icon-BEFOREREFUNDMENT{
	background:url('icons/BEFOREREFUNDMENT_MIN.png') no-repeat;
}
.icon-DRUIDDBSOURCE{
	background:url('icons/DRUIDDBSOURCE_MIN.png') no-repeat;
}
.icon-DISTRIBUTPURVIEW{
	background:url('icons/DISTRIBUTPURVIEW_MIN.png') no-repeat;
}
.icon-SERVICECONTROL{
	background:url('icons/SERVICECONTROL_MIN.png') no-repeat;
}
.icon-ENTERPRISE{
	background:url('icons/ENTERPRISE_MIN.png') no-repeat;
}
.icon-SERVICING{
	background:url('icons/SERVICING_MIN.png') no-repeat;
}
.icon-SELLRECEIPT{
	background:url('icons/SELLRECEIPT_MIN.png') no-repeat;
}
.icon-CERTIFICATE{
	background:url('icons/CERTIFICATE_MIN.png') no-repeat;
}
.icon-SELLADDPART{
	background:url('icons/SELLADDPART_MIN.png') no-repeat;
}
.icon-SELLADDEXAMICE{
	background:url('icons/SELLADDEXAMICE_MIN.png') no-repeat;
}
.icon-ASINGLE{
	background:url('icons/ASINGLE_MIN.png') no-repeat;
}

.icon-FINANCE1{
	background:url('icons/FINANCE1_MIN.png') no-repeat;
}
.icon-FINANCE2{
	background:url('icons/FINANCE2_MIN.png') no-repeat;
}
.icon-FINANCE3{
	background:url('icons/FINANCE3_MIN.png') no-repeat;
}
.icon-FINANCE4{
	background:url('icons/FINANCE4_MIN.png') no-repeat;
}
.icon-FINANCE5{
	background:url('icons/FINANCE5_MIN.png') no-repeat;
}
.icon-FINANCE6{
	background:url('icons/FINANCE6_MIN.png') no-repeat;
}
.icon-FINANCE7{
	background:url('icons/FINANCE7_MIN.png') no-repeat;
}
.icon-FINANCE8{
	background:url('icons/FINANCE8_MIN.png') no-repeat;
}
.icon-FINANCE9{
	background:url('icons/FINANCE9_MIN.png') no-repeat;
}
.icon-FINANCE10{
	background:url('icons/FINANCE10_MIN.png') no-repeat;
}
.icon-FINANCE11{
	background:url('icons/FINANCE11_MIN.png') no-repeat;
}
.icon-FINANCE12{
	background:url('icons/FINANCE12_MIN.png') no-repeat;
}
.icon-FINANCE13{
	background:url('icons/FINANCE13_MIN.png') no-repeat;
}
.icon-FINANCE14{
	background:url('icons/FINANCE14_MIN.png') no-repeat;
}
.icon-RUNSITUATION{
	background:url('icons/RUNSITUATION_MIN.png') no-repeat;
}
.icon-RUNSITUATION1{
	background:url('icons/RUNSITUATION1_MIN.png') no-repeat;
}
.icon-RUNSITUATION2{
	background:url('icons/RUNSITUATION2_MIN.png') no-repeat;
}
.icon-RUNSITUATION3{
	background:url('icons/RUNSITUATION3_MIN.png') no-repeat;
}
.icon-RUNSITUATION4{
	background:url('icons/RUNSITUATION4_MIN.png') no-repeat;
}
.icon-RUNSITUATION5{
	background:url('icons/RUNSITUATION5_MIN.png') no-repeat;
}
.icon-RUNSITUATION6{
	background:url('icons/RUNSITUATION6_MIN.png') no-repeat;
}
.icon-RUNSITUATION7{
	background:url('icons/RUNSITUATION7_MIN.png') no-repeat;
}
.icon-RUNSITUATION8{
	background:url('icons/RUNSITUATION8_MIN.png') no-repeat;
}
.icon-RUNSITUATION9{
	background:url('icons/RUNSITUATION9_MIN.png') no-repeat;
}

.icon-VIPMANAGER1{
	background:url('icons/VIPMANAGER1_MIN.png') no-repeat;
}
.icon-VIPMANAGER2{
	background:url('icons/VIPMANAGER2_MIN.png') no-repeat;
}
.icon-VIPMANAGER3{
	background:url('icons/VIPMANAGER3_MIN.png') no-repeat;
}
.icon-VIPMANAGER4{
	background:url('icons/VIPMANAGER4_MIN.png') no-repeat;
}
.icon-VIPMANAGER5{
	background:url('icons/VIPMANAGER5_MIN.png') no-repeat;
}
.icon-VIPMANAGER6{
	background:url('icons/VIPMANAGER6_MIN.png') no-repeat;
}
.icon-VIPMANAGER7{
	background:url('icons/VIPMANAGER7_MIN.png') no-repeat;
}
.icon-VIPMANAGER8{
	background:url('icons/VIPMANAGER8_MIN.png') no-repeat;
}
.icon-VIPMANAGER9{
	background:url('icons/VIPMANAGER9_MIN.png') no-repeat;
}
.icon-VIPMANAGER10{
	background:url('icons/VIPMANAGER10_MIN.png') no-repeat;
}
.icon-VIPMANAGER11{
	background:url('icons/VIPMANAGER11_MIN.png') no-repeat;
}

.icon-CUSTOMERSERVER1{
	background:url('icons/CUSTOMERSERVER1_MIN.png') no-repeat;
}
.icon-CUSTOMERSERVER2{
	background:url('icons/CUSTOMERSERVER2_MIN.png') no-repeat;
}
.icon-CUSTOMERSERVER3{
	background:url('icons/CUSTOMERSERVER3_MIN.png') no-repeat;
}
.icon-CUSTOMERSERVER4{
	background:url('icons/CUSTOMERSERVER4_MIN.png') no-repeat;
}
.icon-CUSTOMERSERVER5{
	background:url('icons/CUSTOMERSERVER5_MIN.png') no-repeat;
}

.icon-SYSTEMOPER1{
	background:url('icons/SYSTEMOPER1_MIN.png') no-repeat;
}
.icon-SYSTEMOPER2{
	background:url('icons/SYSTEMOPER2_MIN.png') no-repeat;
}
.icon-SYSTEMOPER3{
	background:url('icons/SYSTEMOPER3_MIN.png') no-repeat;
}
.icon-SYSTEMOPER4{
	background:url('icons/SYSTEMOPER4_MIN.png') no-repeat;
}
.icon-SYSTEMOPER5{
	background:url('icons/SYSTEMOPER5_MIN.png') no-repeat;
}
.icon-SYSTEMOPER6{
	background:url('icons/SYSTEMOPER6_MIN.png') no-repeat;
}
.icon-SYSTEMOPER7{
	background:url('icons/SYSTEMOPER7_MIN.png') no-repeat;
}
.icon-SYSTEMOPER8{
	background:url('icons/SYSTEMOPER8_MIN.png') no-repeat;
}
.icon-SYSTEMOPER9{
	background:url('icons/SYSTEMOPER9_MIN.png') no-repeat;
}
.icon-SYSTEMOPER10{
	background:url('icons/SYSTEMOPER10_MIN.png') no-repeat;
}
.icon-SYSTEMOPER11{
	background:url('icons/SYSTEMOPER11_MIN.png') no-repeat;
}
.icon-SYSTEMOPER12{
	background:url('icons/SYSTEMOPER12_MIN.png') no-repeat;
}
.icon-SYSTEMOPER13{
	background:url('icons/SYSTEMOPER13_MIN.png') no-repeat;
}
.icon-SYSTEMOPER14{
	background:url('icons/SYSTEMOPER14_MIN.png') no-repeat;
}


.icon-ACHIEVEMENT1{
	background:url('icons/ACHIEVEMENT1_MIN.png') no-repeat;
}
.icon-ACHIEVEMENT2{
	background:url('icons/ACHIEVEMENT2_MIN.png') no-repeat;
}
.icon-ACHIEVEMENT3{
	background:url('icons/ACHIEVEMENT3_MIN.png') no-repeat;
}
.icon-ACHIEVEMENT4{
	background:url('icons/ACHIEVEMENT4_MIN.png') no-repeat;
}

.icon-STOREHOUSE1{
	background:url('icons/STOREHOUSE1_MIN.png') no-repeat;
}
.icon-STOREHOUSE2{
	background:url('icons/STOREHOUSE2_MIN.png') no-repeat;
}
.icon-STOREHOUSE3{
	background:url('icons/STOREHOUSE3_MIN.png') no-repeat;
}
.icon-STOREHOUSE4{
	background:url('icons/STOREHOUSE4_MIN.png') no-repeat;
}
.icon-STOREHOUSE5{
	background:url('icons/STOREHOUSE5_MIN.png') no-repeat;
}
.icon-STOREHOUSE6{
	background:url('icons/STOREHOUSE6_MIN.png') no-repeat;
}
.icon-STOREHOUSE7{
	background:url('icons/STOREHOUSE7_MIN.png') no-repeat;
}
.icon-STOREHOUSE8{
	background:url('icons/STOREHOUSE8_MIN.png') no-repeat;
}
.icon-STOREHOUSE9{
	background:url('icons/STOREHOUSE9_MIN.png') no-repeat;
}
.icon-STOREHOUSE10{
	background:url('icons/STOREHOUSE10_MIN.png') no-repeat;
}
.icon-STOREHOUSE11{
	background:url('icons/STOREHOUSE11_MIN.png') no-repeat;
}
.icon-STOREHOUSE12{
	background:url('icons/STOREHOUSE12_MIN.png') no-repeat;
}
.icon-STOREHOUSE13{
	background:url('icons/STOREHOUSE13_MIN.png') no-repeat;
}
.icon-STOREHOUSE14{
	background:url('icons/STOREHOUSE14_MIN.png') no-repeat;
}
.icon-STOREHOUSE15{
	background:url('icons/STOREHOUSE15_MIN.png') no-repeat;
}
.icon-STOREHOUSE16{
	background:url('icons/STOREHOUSE16_MIN.png') no-repeat;
}
.icon-STOREHOUSE17{
	background:url('icons/STOREHOUSE17_MIN.png') no-repeat;
}
.icon-ADDPROJECT{
	background:url('icons/ADDPROJECT_MIN.png') no-repeat;
}
.icon-SELLOUT{
	background:url('icons/SELLOUT_MIN.png') no-repeat;
}
.icon-INSTOREQUERY{
	background:url('icons/INSTOREQUERY_MIN.png') no-repeat;
}
.icon-ENTERPRISE1{
	background:url('icons/ENTERPRISE1_MIN.png') no-repeat;
}
.icon-QUERYCAR{
	background:url('icons/QUERYCAR_MIN.png') no-repeat;
}
.icon-QUERYCUSTOM{
	background:url('icons/QUERYCUSTOM_MIN.png') no-repeat;
}
.icon-INSTOREOUTQUERY{
	background:url('icons/INSTOREOUTQUERY_MIN.png') no-repeat;
}
.icon-CARBACKQUERY{
	background:url('icons/CARBACKQUERY_MIN.png') no-repeat;
}