@CHARSET "UTF-8";
td {
   padding-left: 5px;
   font-size: 12px;
   font-family: Tahoma, Arial;
}
.blueFont {color: #6699CC}
.redFont {color: #FF0000}
/***** Other Elements in Page Content *****/
.pwd-strength {
   padding: 2px;
   padding-left: 5px;
   padding-right: 5px;
   width: 90px;
   border: solid 1px #CCCCCC;
}
.pwd-strength-box,
.pwd-strength-box-low,
.pwd-strength-box-med,
.pwd-strength-box-hi
{
   color: #464646;
   text-align: center;
   width: 33%;
}
.pwd-strength-box-low
{
   color: #990000;
   background-color: #FFECEC;
}
.pwd-strength-box-med
{
   color: #000066;
   background-color: #D2E9FF;
}
.pwd-strength-box-hi
{
   color: #003300;
   background-color: #DDFFDD;
}